table {
  position: relative;
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  width: 90%;
  height: 600px;
}
th:first-child {
  color:#f30;
}
th:last-child {
  color:#03c;
}
tbody > tr > td:first-child {
  background:#fff5f2;
}
tbody > tr > td:last-child {
  background:#f3f9fd;
}
thead {
}

tbody {
}

th, td {
  font-size: 15px;
  border: 1px solid #bbb;
  text-align: center;
  line-height: 30px
}

#month {
  text-align: center;
  font-size: 64px;
}

#leftButton {
  position: absolute;
  top: 20px;
  left: 16px;
}

#rightButton {
  position: absolute;
  top: 20px;
  right: 16px;
}
